body{
  color:#212529;
  background-color: #F7F7F7;
  box-sizing:border-box;
}

.dashboard__cards{
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width:484px){
    justify-content: flex-start;
  }
}

.card__container{
  width:18%;
  margin-bottom:20px;
  @media screen and (max-width:1468px){
    width:19%;
  }
  @media screen and (max-width:484px){
    width: 47%;
    margin: 4px;
  }
}

.card{
  background-color:white;
  border:1px solid rgba(0,0,0,.125);
  height:125px;
  width:100%;
}

.card--active{
  box-shadow: 1px 0px 12px 1px rgba(66,130,99,1);
}

.card__divider{
  border-top: 1px solid rgba(0,0,0,.125);
  width:95%;
}

.card__title, .card__value{
  padding: 10px;
  margin:0px;
}

.data-table__container {
  margin: 0 auto 20px;
  width: 96%;
  height: 60vh;
  overflow-y: scroll;
  border-bottom:1px solid rgba(0,0,0,.125);
}

.data-table{
  border-collapse: collapse;
  position:relative;
  width:100%;
  table-layout: fixed;
  width: 100%;
  @media screen and (max-width:785px){
    table-layout: auto;
  }
}

.data-table__cell, .data-table__header{
  padding: 8px 14px 8px 2px;
}

.data-table__row:nth-child(odd) {
  background-color: #ffffff;
}
.data-table__row td:nth-child(1) {
  color:#0068D9;
}

.data-table__header{
  text-align: left;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 1px 0px grey;
  background-color: white;
}

.dashboard__subheader, .dashboard__filter-summary{
  margin-top: 0; 
  position: relative;
  width: 96%;
  margin: 15px auto;
}

.dashboard__filter-summary-count{
  font-size:.8em;
  margin-left:5px;
  background-color: rgba(0,0,0,.125);
  padding:3px;
  font-weight:normal;
  position:relative;
  top:-1px;
}